spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/spring_test?useUnicode=true&characterEncoding=utf-8
    username: root
    password: yongqiang
  thymeleaf:
    cache: false
    mode: HTML5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level: org.springframework.security=info
